include CMakeLists.txt
include HISTORY
include Makefile.am
include README
include README.compile
include README_compile.txt
include configure.ac
include include/const.h
include input/computeC.input
include input/computeC_ORIGINAL.input
include m4/ax_lib_netcdf4.m4
include make_computeC
include pyproject.toml
include setup.cfg
include setup.py
include src/CMakeLists.txt
include src/__init__.py
include src/__main__.py
include src/_cy_circ.pyx
include src/circ.f90
include src/circ.py
include src/const.py
include src/interp.f90
include src/interp.py
include src/main.f
include src/main.py
include src/netcdfio.f
include src/netcdfio.py
